@model IEnumerable<WebBookStore.Models.NhaXuatBan>
<p class="lead">BOOK BY PUBLISHER</p>
<div class="list-group">
    @foreach (var item in Model)
    {
        <a href="@Url.Action("BookByPublisher", "BookStore", new { id = item.MaNXB})" class="list-group-item">
            @item.TenNXB
        </a>
    }
</div>
