@model IEnumerable<WebBookStore.Models.Sach>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h3 style="text-align:center; color:red"> BOOK BY TOPIC </h3>

<div class="row">
    @foreach (var sach in Model)
    {
        <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">
                <li>
                    <a href="@Url.Action("Details", "BookStore", new {id = sach.MaSach})">
                        <img alt="@sach.TenSach" src="~/product_imgs/@sach.AnhBia" />
                        <span>@sach.TenSach</span>
                    </a>
                    <div class="ratings">
                        <p class="pull-right">15 reviews</p>
                        <p>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                        </p>
                    </div>
                </li>
            </div>
        </div>
    }
</div>

