
@{
    ViewBag.Title = "Confirm Order";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>Your order has been received. 
    We will contact you as soon 
    as possible and deliver on time</h2>
<p>
    @Html.ActionLink("BACK HOMEPAGE", "Index", "BookStore")
</p>

