
@{
    ViewBag.Title = "Confirm Order";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h1 style="font: bold; color: #008000; text-align: center ">THANK YOU VERY MUCH FOR YOUR ORDER</h1>

<h3 style="color: #B22222; font-style: italic ">
    Your order has been received.
    We will contact you as soon
    as possible and deliver on time
</h3>
<h3 style="text-align:left">For more information, please contact:    admin@fptbook.com or 0909090909</h3>
<p>
    @Html.ActionLink("BACK HOMEPAGE", "Index", "BookStore")
</p>

